<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Información climatologica
  </h1>
</div>
<div align="center">
  <label>Ciudad: {{weather.name}} </label><br><br>
  <label>Latitud: {{weather.coord.lat}}</label><br><br>
  <label>Longitud: {{weather.coord.lon}}</label><br><br>
  <label>Humedad: {{weather.main.humidity}}</label><br><br>
  <label>Presión: {{weather.main.pressure}}</label><br><br>
  <label>Temperatura:{{weather.main.temp}}</label><br><br>
  <label>Descripción: <span *ngFor='let i of weather.weather'>{{i.description}}</span></label><br><br>
  <span *ngFor='let i of weather.weather'><img src="http://openweathermap.org/img/w/{{i.icon}}.png"/></span><br><br>
</div>